PORT=3000
HOST=0.0.0.0
CORS_ORIGIN=https://SEU_FRONTEND
ACCESS_BASE_URL=https://SEU_FRONTEND
BRIDGE_SECRET=troque-este-segredo
ADMIN_API_KEY=troque-esta-chave
USE_REAL_X32_IO=true
BRIDGE_IO_REQUEST_TIMEOUT_MS=10000
BRIDGE_CONTROL_STATE_TIMEOUT_MS=15000
TOKEN_RETENTION_MINUTES=1440
CLEANUP_INTERVAL_MS=10000
