BACKEND_URL=http://localhost:3000
BRIDGE_SECRET=troque-este-segredo
BRIDGE_NAME=bridge-local
X32_IP=192.168.0.100
X32_PORT=10023
USE_REAL_X32_IO=false
X32_QUERY_TIMEOUT_MS=160
IO_OPTIONS_CACHE_MS=60000


BACKEND_URL=https://x32-system-yah3.vercel.app
BRIDGE_SECRET=troque-este-segredo
BRIDGE_NAME=bridge-local
X32_IP=192.168.0.100
X32_PORT=10023
USE_REAL_X32_IO=false
X32_QUERY_TIMEOUT_MS=160
IO_OPTIONS_CACHE_MS=60000
